---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import HeaderFlow from "../components/HeaderFlow.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Slider from "../components/Slider.astro";
import Intro from "../components/Intro.astro";
import Services from "../components/Services.astro";
import Projet from "../components/Projet.jsx";
import Testimonials from "../components/Testimonials.astro";
import Avantages from "../components/Avantages.astro";
import FAQ from "../components/FAQ.astro";
import CTA from "../components/CTA.astro";
import Reviews from "../components/Reviews";

import Projects from "../components/Projects.astro";
import Hero from "../components/Hero.astro";
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <!-- Alpine Plugins -->
  </head>
  <body class=''>
    <HeaderFlow title={SITE_TITLE} />
    <section class=''>
      <div class='px-4 mx-auto max-w-screen-2xl'>
        <div
          class='sticky-hero pt-[140px] pb-[50px] t-[-40px] md:t-[-48px] sticky'
          id='hero'
        >
          <h1
            class='mb-4 text-5xl md:text-9xl font-semibold tracking-tight leading-none text-gray-900 capitalize text-center'
          >
            Libérez <br class='md:hidden block' />votre <br
              class='md:block hidden'
            />potentiel numérique
          </h1>
          <p
            class='font-normal text-center self-center md:text-2xl text-xl leading-relaxed'
          >
            Établissez la présence digitale ultime grâce à notre expertise en
            <br class='md:block hidden' />
             Design, Développement et Marketing
          </p>
          <!-- <div class="flex justify-between  w-2/5 leading-tight"><p class="font-semibold w-1/2 text-left self-center">AGENCE DE MARKETING DIGITAL </p> <p class="font-semibold w-1/2 text-right uppercase"> design<br/>développement<br/>marketing</p></div>
     -->
          <div
            class='flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4'
          >
            <a
              href='#'
              class='inline-flex justify-center items-center my-5 py-3 px-7 text-xl font-semibold text-center text-white rounded-full w-full bg-black'
            >
              Réservez une Consultation Gratuite
              <svg
                class='ml-2 -mr-1 w-5 h-5'
                fill='currentColor'
                viewBox='0 0 20 20'
                xmlns='http://www.w3.org/2000/svg'
                ><path
                  fill-rule='evenodd'
                  d='M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z'
                  clip-rule='evenodd'></path></svg
              >
            </a>
          </div>
        </div>
        <Hero />
      </div>

      <Intro />
      <!-- <Services /> -->
      <Projects />
      <Testimonials />
      <!-- <Reviews client:load /> -->
      <Services />
      <FAQ />
      <CTA />
      <Footer />
      <script
        is:inline
        src='https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js'
      ></script>
      <script
        src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'
      ></script>

      <script>
        $(document).ready(function () {
          $(window).scroll(function () {
            $(".sticky-hero").css("opacity", 1 - $(this).scrollTop() / 700);
          });
        });
      </script>
    </section>
  </body>
</html>
