<div class='max-w-screen-2xl mx-auto mt-32'>
  <div class='grid grid-cols-2 md:grid-cols-2 gap-20 h-5/6 w-4/5 mx-auto'>
    <div class='col-span-1 p-5 h-full'>
      <div class=''>
        <img
          src='https://cdn.sanity.io/images/r115idoc/production/d44de656a2d62bcb75c5ee69f1d20051cfb82ee3-1408x1760.png?q=90&auto=format'
        />

        <h1 class='title-font text-4xl font-semibold text-gray-900 mb-6 mt-10'>
          Wealth
        </h1>

        <p class='mb-5 font-normal text-gray-500 text-xl leading-relaxed py-0'>
          Designing a self-service digital estate planning platform
        </p>
      </div>
    </div>
    <div class='mt-32'>
      <div class='col-span-1 p-5 h-full'>
        <img
          src='https://cdn.sanity.io/images/r115idoc/production/6b0bfe7f2627749c3df0f5be12b95e92c720a03c-1408x1760.png?q=90&auto=format'
        />

        <h1 class='title-font text-4xl font-semibold text-gray-900 mb-6 mt-10'>
          JOKR
        </h1>

        <p class='mb-5 font-normal text-gray-500 text-xl leading-relaxed py-0'>
          Mobile app design for a fast grocery delivery startup
        </p>
      </div>
    </div>
    <div class='col-span-2'>
      <div class=''>
        <div class='col-span-1 p-5 h-full'>
          <img
            src='https://cdn.sanity.io/images/r115idoc/production/c060734f81de10391dcbb5f0514277791cb0c6c0-2704x1520.png?q=90&auto=format'
          />

          <h1
            class='title-font text-4xl font-semibold text-gray-900 mb-6 mt-10'
          >
            JOKR
          </h1>

          <p
            class='mb-5 font-normal text-gray-500 text-xl leading-relaxed py-0'
          >
            Mobile app design for a fast grocery delivery startup
          </p>
        </div>
      </div>
    </div>
    <!-- <div class='bg-violet-400'>
      <span>04</span>
    </div>
    <div class='bg-fuchsia-400'>
      <span>05</span>
    </div>
    <div class='bg-blue-400 col-span-2'>
      <span>06</span>
    </div> -->
  </div>
</div>
