---
import Icon from "astro-icon";
import Projet from "./Projet";

const zemium = [
  {
    url: "public/projects/zemium/ar.webp",
    alt: "list",
  },
  {
    url: "https://framerusercontent.com/images/qKxjUHn7yjkF4N7AZYyyBSME8.webp",
    alt: "list",
  },
];

const athena = [
  {
    url: "https://framerusercontent.com/images/iV0D0WBbS40fnL4cieaU5hXDbo.webp",
    alt: "athena",
  },
  {
    url: "https://framerusercontent.com/images/z3nXYtdl52mdjiZ4MbZtEKELAM.webp",
    alt: "list",
  },
  {
    url: "https://framerusercontent.com/images/z3nXYtdl52mdjiZ4MbZtEKELAM.webp",
    alt: "list",
  },
  {
    url: "https://framerusercontent.com/images/z3nXYtdl52mdjiZ4MbZtEKELAM.webp",
    alt: "list",
  },
];
---

<div class='container pt-12 mx-auto max-w-screen-2xl'>
  <div class='md:grid grid-cols-1 md:grid-cols-2 md:gap-20 mx-auto'>
    <div class='col-span-1 md:p-5 px-4 h-full'>
      <div class=''>
        <img
          class='rounded-xl'
          src='https://cdn.sanity.io/images/r115idoc/production/d44de656a2d62bcb75c5ee69f1d20051cfb82ee3-1408x1760.png?q=90&auto=format'
        />
        <div class='mt-5 mb-14 md:mt-10 md:mb-10 mx-2 md:mx-0'>
          <h1
            class='title-font text-3xl md:text-4xl font-semibold text-gray-900 mb-2 md:mb-4'
          >
            Zemium
          </h1>
          <p
            class='font-normal text-gray-500 text-xl md:text-2xl leading-relaxed py-0'
          >
            Designing a self-service digital estate planning platform
          </p>

          <div
            class='flex space-x-5 mt-5 md:mt-7 text-lg md:text-xl text-gray-400 items-center'
          >
            <p>UX/UI</p>
            <p class='text-sm'>●</p>
            <p>Webdesign</p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-span-1 md:mt-32'>
      <div class='col-span-1 md:p-5 px-4 h-full'>
        <img
          class='rounded-xl'
          src='https://cdn.sanity.io/images/r115idoc/production/6b0bfe7f2627749c3df0f5be12b95e92c720a03c-1408x1760.png?q=90&auto=format'
        />
        <div class='mt-5 mb-14 md:mt-10 md:mb-10 mx-2 md:mx-0'>
          <h1
            class='title-font text-3xl md:text-4xl font-semibold text-gray-900 mb-2 md:mb-4'
          >
            Le Crm
          </h1>
          <p
            class='font-normal text-gray-500 text-xl md:text-2xl leading-relaxed py-0'
          >
            Designing a self-service digital estate planning platform
          </p>

          <div
            class='flex space-x-5 mt-5 md:mt-7 text-lg md:text-xl text-gray-400 items-center'
          >
            <p>UX/UI</p>
            <p class='text-sm'>●</p>
            <p>Webdesign</p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-span-2'>
      <div class=''>
        <div class='md:col-span-1 md:p-5 px-4 h-full'>
          <img
            class='rounded-xl block md:hidden'
            src='https://cdn.sanity.io/images/r115idoc/production/0f7b0590361a267c5aa04ad1bca1a0c5810d7d5f-1408x1760.png?q=90&auto=format'
          />
          <img
            class='rounded-xl hidden md:block'
            src='https://cdn.sanity.io/images/r115idoc/production/c060734f81de10391dcbb5f0514277791cb0c6c0-2704x1520.png?q=90&auto=format'
          />
          <div class='mt-5 mb-0 md:mt-10 md:mb-10 mx-2 md:mx-0'>
            <h1
              class='title-font text-3xl md:text-4xl font-semibold text-gray-900 mb-2 md:mb-4'
            >
              Wealth
            </h1>
            <p
              class='font-normal text-gray-500 text-xl md:text-2xl leading-relaxed py-0'
            >
              Designing a self-service digital estate planning platform
            </p>

            <div
              class='flex space-x-5 mt-5 md:mt-7 text-lg md:text-xl text-gray-400 items-center'
            >
              <p>UX/UI</p>
              <p class='text-sm'>●</p>
              <p>Webdesign</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <Projet
      client:load
      title='Zemium'
      description='Designing a self-service digital estate planning platform'
      tags={["Web Design", "UX/UI"]}
      list={zemium}
      duration={50}
    />

    <Projet
      client:load
      title='Athena'
      description='Designing a self-service digital estate planning platform'
      tags={["Web Design", "UX/UI"]}
      list={athena}
      duration={40}
    /> -->
  </div>
</div>
