<section class=''>
  <div class='py-12 md:py-24'></div>
  <div class='container mx-auto max-w-screen-2xl'>
    <h1
      class='font-semibold text-left text-3xl md:text-6xl leading-tight md:leading-tight max-w-2xl pl-5 md:pb-12 pb-10 mt-2'
    >
      Nos avantages numériques pour tout besoin digital
    </h1>

    <section class='mx-auto'>
      <div class='mx-auto px-6'>
        <div
          class='space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-20 md:space-y-0'
        >
          <div>
            <img
              class='rounded-xl mb-10 w-full'
              src='https://placehold.co/300x300'
            />
            <h1 class='title-font text-3xl font-semibold text-gray-900 mb-6'>
              Qualité Supérieure +
            </h1>

            <p class='mb-5 font-normal text-gray-500 text-xl leading-relaxed'>
              Nous exigeons des critères d'excellence pour atteindre la
              meilleure qualité possible et parvenir à un résultat de haut de
              gamme.
            </p>
          </div>
          <div>
            <img
              class='rounded-xl mb-10 w-full'
              src='https://placehold.co/300x300'
            />
            <h1 class='title-font text-3xl font-semibold text-gray-900 mb-6'>
              Solutions sur Mesure
            </h1>

            <p class='mb-5 font-normal text-gray-500 text-xl leading-relaxed'>
              Chaque projet est conçu individuellement en fonction des exigences
              spécifiques, avec l'engagement de différents spécialistes.
            </p>
          </div>
          <div>
            <img
              class='rounded-xl mb-10 w-full'
              src='https://placehold.co/300x300'
            />
            <h1 class='title-font text-3xl font-semibold text-gray-900 mb-6'>
              Attention aux Détails
            </h1>

            <p class='mb-5 font-normal text-gray-500 text-xl leading-relaxed'>
              Nous accordons une attention particulière à toutes les subtilités
              pour aboutir au potentiel maximal de chaque réalisation.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
