<section class=''>
  <div class='container py-12 pt-32 max-w-3xl mx-auto'>
    <h1
      class='font-semibold text-left text-5xl leading-tight max-w-2xl pb-24 pl-5'
    >
      Notre panoplie numérique pour tout besoin digital
    </h1>

    <div class='flex flex-wrap -mx-5 -my-8'>
      <div class='py-8 px-4 lg:w-1/2'>
        <div class='h-full flex items-start'>
          <div class='flex-grow pl-6'>
            <h1 class='title-font text-3xl font-semibold text-gray-900 mb-6'>
              Design
            </h1>

            <p class='mb-5 font-normal text-gray-500 text-xl leading-relaxed'>
              Nous créons des identités visuelles mémorables, et nous
              établissons des directives de marque claires pour maintenir la
              cohérence et renforcer votre reconnaissance numérique.
            </p>
          </div>
        </div>
      </div>
      <div class='py-8 px-4 lg:w-1/2'>
        <div class='h-full flex items-start'>
          <div class='flex-grow pl-6'>
            <h1 class='title-font text-3xl font-semibold text-gray-900 mb-6'>
              Développement
            </h1>

            <p class='mb-5 font-normal text-gray-500 text-xl leading-relaxed'>
              Une marque moderne se caractérise par sa présence numérique. Nous
              concevons des sites Web qui communiquent efficacement l'identité
              et la perspective de votre marque.
            </p>
          </div>
        </div>
      </div>
      <div class='py-8 px-4 lg:w-1/2'>
        <div class='h-full flex items-start'>
          <div class='flex-grow pl-6'>
            <h1 class='title-font text-3xl font-semibold text-gray-900 mb-6'>
              Marketing
            </h1>

            <p class='mb-5 font-normal text-gray-500 text-xl leading-relaxed'>
              Grâce à nos stratégies de marketing, nous visons à améliorer le
              taux de conversion des marques pour générer plus d’engagements et
              marquer les audiences cibles.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
