---
import Testimonial from "./Testimonial.astro";
---

<style>
  .marquee-testimonial {
    /*   overflow: hidden; */
  }

  .marquee-content {
    display: block;
    animation: scrollingY 50s linear infinite;
  }
  .marquee-content-2 {
    display: block;
    animation: scrollingY 40s linear infinite;
  }
  @keyframes scrollingY {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translatey(-144vw);
    }
  }
</style>

<section class=''>
  <div class='py-32'>
    <div class='flex place-content-center'>
      <img
        class='max-h-28 self-center'
        style='    --transform-scale-x: -1;-webkit-transform: scaleX(-1);
transform: scaleX(-1); opacity:0.1'
        src='https://framerusercontent.com/images/iRhDo8XBod5PzPuhCHZbXQG9VeU.svg'
      />

      <h1
        class='mb-4 text-5xl font-semibold tracking-loose leading-tight text-gray-900 max-w-4xl text-center self-center mx-10'
      >
        Approuvé par <br />plusieurs Professionnels
      </h1>

      <img
        style='opacity:0.1'
        class='max-h-28 self-center'
        src='https://framerusercontent.com/images/iRhDo8XBod5PzPuhCHZbXQG9VeU.svg'
      />
    </div>
    <p
      class='font-normal w-96 text-center self-center text-lg leading-relaxed mx-auto mt-5'
    >
      La satisfaction du client est notre priorité absolue. Nous sommes
      reconnaissants pour tous les partenaires qui nous ont fait confiance.
    </p>
  </div>
</section>
<div>
  <section
    class='pb-24 h-[49rem] max-h-[150vh] overflow-hidden max-w-screen-xl mx-auto px-5'
  >
    <div class='relative bg-gradient-to-b from-[#efefef] h-40 z-20'></div>
    <div class='flex grid-cols-3 gap-10 z-10'>
      <div class='marquee-testimonial'>
        <div class='marquee-content'>
          <div class='space-y-10'>
            <div class='flex-none'>
              <Testimonial />
            </div>
            <div class='flex-none'>
              <Testimonial />
            </div>
            <div class='flex-none'>
              <Testimonial />
            </div>
            <div class='flex-none'>
              <Testimonial />
            </div>
            <div class='flex-none'>
              <Testimonial />
            </div>
          </div>
        </div>
      </div>
      <div class='marquee-testimonial'>
        <div class='marquee-content-2'>
          <div class='space-y-10'>
            <div class='flex-none'>
              <Testimonial />
            </div>
            <div class='flex-none'>
              <Testimonial />
            </div>
            <div class='flex-none'>
              <Testimonial />
            </div>
            <div class='flex-none'>
              <Testimonial />
            </div>
            <div class='flex-none'>
              <Testimonial />
            </div>
          </div>
        </div>
      </div>
      <div class='marquee-testimonial'>
        <div class='marquee-content'>
          <div class='space-y-10'>
            <div class='flex-none'>
              <Testimonial />
            </div>
            <div class='flex-none'>
              <Testimonial />
            </div>
            <div class='flex-none'>
              <Testimonial />
            </div>
            <div class='flex-none'>
              <Testimonial />
            </div>
            <div class='flex-none'>
              <Testimonial />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div
    class='relative bottom-0 bg-gradient-to-t from-[#efefef] h-40 z-20 max-w-screen-xl mx-auto px-5 -mt-40'
  >
  </div>
</div>
